<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Portal społecznościowy</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <style th:include="menu::styl"></style>
</head>

<body>
<ul th:include="menu :: menu1" class="navbar navbar-default"></ul>
<div class="container">


    <h1 style="margin-top:200px; test-align:center;" th:if="${t}==1">Osoby oczekujące na zaproszenie.</h1>
    <h1 style="margin-top:200px; test-align:center;" th:if="${t}==0">Obecnie nie masz nowych zaproszeń</h1>
    <div class="op border border-white rounded">

        <!-- lista oczekujących -->
        <spam th:if="${t}==1">

            <ul class="list-group">

                <li class="list-group-item" th:each="fr: ${friends}">
                    <a style="display: inline; float: left" th:href="'/profiluser?id='+${fr.uid}+'&doProfilu=4'"
                       th:text="${fr.invitedname}"></a>
                    <span style="display: inline; float: right; vertical-align:top;">
                   <a th:href="'/akceptuj?id='+${fr.id}" th:text="'akceptuj'" > akceptuj</a>
                   <a th:href="'/odrzuc?id='+${fr.id}" th:text="'odrzuć'"> odrzuć </a>
                    </span>
                </li>

            </ul>

        </spam>
    </div>
    <!-- end oczekujący -->


</div>


</body>
</html>